{% extends 'main.html' %}

{% block head %}
	<meta name="description" content="Contact us for support with mobile products and accessories. We're here to help with your inquiries.">
	<meta name="keywords" content="Mobile shop, contact, support, customer service, mobile products, accessories">>
{% endblock %}

{% block content %}

        <main class="main">
        	
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact us</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<!-- <div id="map" class="mb-5"></div>End #map -->
                <div class="container">
                	<div class="row">
                		<div class="col-md-4">
                			<div class="contact-box text-center">
        						<h3>Office</h3>

	         						<address>Your City, Your State<br>Your Country</address>
        					</div><!-- End .contact-box -->
                		</div><!-- End .col-md-4 -->

                		<div class="col-md-4">
                			<div class="contact-box text-center">
        						<h3>Start a Conversation</h3>

	         						<div><a href="mailto:info@yourstore.com">info@yourstore.com</a></div>
	         						<div><a href="tel:+1-800-123-4567">+1-800-123-4567</a></div>
        					</div><!-- End .contact-box -->
                		</div><!-- End .col-md-4 -->

                		<div class="col-md-4">
                			<div class="contact-box text-center">
        						<h3>Social</h3>

	         					<div class="social-icons social-icons-color justify-content-center">
	     								<a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
	     								<a href="#" class="social-icon social-whatsapp" title="WhatsApp" target="_blank"><i class="icon-whatsapp"></i></a>
	     						</div><!-- End .soial-icons -->
        					</div><!-- End .contact-box -->
                		</div><!-- End .col-md-4 -->
                	</div><!-- End .row -->

                	<hr class="mt-3 mb-5 mt-md-1">
                	<div class="touch-container row justify-content-center">

                		<div class="col-md-9 col-lg-7">
                                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li id="django-messeges">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                			<div class="text-center">
							 <h2 class="title mb-1">Get In Touch</h2><!-- End .title mb-2 -->
							 <p class="lead text-primary">
						 	We appreciate you contacting us. We will get back to you as soon as possible.
							 </p><!-- End .lead text-primary -->
							 <p class="mb-3">Let us know your questions or feedback. We will reply as soon as possible.</p>
                			</div><!-- End .text-center -->

                			<form action="#" method="POST" class="contact-form mb-2">
                                {% csrf_token %}
                				<div class="row">
                					<div class="col-sm-4">
                                        <label for="cname" class="sr-only">Name</label>
                						<input type="text" class="form-control" id="cname" placeholder="Name *" name="name" required>
                					</div><!-- End .col-sm-4 -->

                					<div class="col-sm-4">
                                        <label for="cemail" class="sr-only">Name</label>
                						<input type="email" class="form-control" id="cemail" placeholder="Email *" name="email" required>
                					</div><!-- End .col-sm-4 -->

                					<div class="col-sm-4">
                                        <label for="cphone" class="sr-only">Phone(optional)</label>
                						<input type="tel" class="form-control" id="cphone" placeholder="Phone" name="phone">
                					</div><!-- End .col-sm-4 -->
                				</div><!-- End .row -->

                                <label for="csubject" class="sr-only">Subject</label>
        						<input type="text" class="form-control" id="csubject" placeholder="Subject" name="subject">

                                <label for="cmessage" class="sr-only">Message</label>
                				<textarea class="form-control" cols="30" rows="4" id="cmessage" required placeholder="Message *" name="body"></textarea>
								
								<div class="text-center">
	                				<button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
	                					<span>SUBMIT</span>
	            						<i class="icon-long-arrow-right"></i>
	                				</button>
                				</div><!-- End .text-center -->
                			</form><!-- End .contact-form -->
                		</div><!-- End .col-md-9 col-lg-7 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

{% endblock %}