{% extends 'main.html' %}

{% block content %}

<div class="container">
	<div class="prvacy-page-box">

		<div class="privacy-policy-intro">
			<h2>We are an online mobile shop dedicated to providing quality products and helping you find what you need.</h2>

			<p>To provide our services, we collect some data from users. This helps us recommend the best products and improve your experience. All data is handled according to our privacy policy.</p>
		</div><!-- privacy intro end -->


		<div class="privacy-policy-content">
			<div class="privacy-hader">
				<h1>Privacy Policy.</h1>
			</div>

			<div class="privacy-content">

				<div class="privacy-content-box">
					<h3>1. The types of information we collect from visitors to our website.</h3>
					<ul class="privacy-info-list-ul">
						<li class="privacy-info-list-li">Name</li>
						<li class="privacy-info-list-li">Email</li>
						<li class="privacy-info-list-li">Phone Number</li>
						<li class="privacy-info-list-li">Registration date</li>
						<li class="privacy-info-list-li">Favorite product</li>
						<li class="privacy-info-list-li">Address</li>
					</ul>
				</div><!-- privay content box end -->

			<div class="privacy-content-box">
				<h3>2. Reasons for this information collected.</h3>
				<ul class="privacy-info-list-ul">
					<li class="privacy-info-list-li">We collect names for the introduction of users.</li>
					<li class="privacy-info-list-li">We collect emails, phone numbers and registration date to create user account.</li>
					<li class="privacy-info-list-li">We collect addresses to ship the product to you.</li>
					<li class="privacy-info-list-li">We collect your product information to show you your favorite products.</li>
					
				</ul>
			</div>


			<div class="privacy-content-box">
				<h3>3. The data collection appropriate to the activity or transaction.</h3>
				<ul class="privacy-info-list-ul">
					<li class="privacy-info-list-li">Yes</li>
				</ul>
			</div>

			<div class="privacy-content-box">
				<h3>4. With the means is this information collected.</h3>
				<ul class="privacy-info-list-ul">
					<li class="privacy-info-list-li">Weblogs</li>
					<li class="privacy-info-list-li">Surveys</li>
					<li class="privacy-info-list-li">Web forms</li>
					<li class="privacy-info-list-li">Singup</li>
					<li class="privacy-info-list-li">To place an order</li>
				</ul>
			</div>

			<div class="privacy-content-box">
				<h3>5. What will this information be used for and who will have access to it?</h3>
				<ul class="privacy-info-list-ul">
					<li class="privacy-info-list-li">We provide the information to our program nad ai.</li>
					<li class="privacy-info-list-li">Only our author, engineer and admin can access this information.</li>
					<li class="privacy-info-list-li">This information is inaccessible to any third party persian.</li>
					<li class="privacy-info-list-li">The collected data will be stored until the user deletes his account.</li>
					<li class="privacy-info-list-li">We do not do any kind of analytics.</li>
				</ul>
			</div>

			<div class="privacy-content-box">
				<h3>6. How will users be informed if your privacy policies change (including changes to how the information will be used)?</h3>
				<ul class="privacy-info-list-ul">
					<li class="privacy-info-list-li">We will inform users by sending email.</li>
				</ul>
			</div>

			<div class="privacy-content-box">
				<h3>7. How can visitors with questions about your site's privacy statement contact someone?</h3>
				<ul class="privacy-info-list-ul">
					<li class="privacy-info-list-li">Anyone can ask any question in our <a href="{% url 'contact' %}">contact</a> section.</li>
					<li class="privacy-info-list-li">Also can contact us via our <a href="#">social media</a>, email (info@yourstore.com), or <a href="#">phone</a>.</li>

				</ul>
			</div>

			<div class="privacy-content-box">
				<h3>8. How is user information protected?</h3>
				<ul class="privacy-info-list-ul">
					<li class="privacy-info-list-li">Our server has a high level security system.</li>
					<li class="privacy-info-list-li">The files and physical control are unable to any person.</li>
					<li class="privacy-info-list-li">This site have SSL activated</li>

				</ul>
			</div>


			
		</div><!-- privacy contnet end -->

	</div>
</div>

{% endblock %}