
{% extends 'dashboard/main.html' %}
{% load static %}

{% block content %}

<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header"><h4>Add New CoverSell</h4></div>
            <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Add Cover</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}