.logo img{
  width: 120px;
}

.cat-block img {
  max-width: 110px !important;
}

#order-button-created {
  border: 2px 2px 2px 2px black;
  border: 0.1px;
  border-style: solid;
  padding: 12px 0px 12px 0px;
  margin-right: 8px;
  font-size: 15.8px;
}

#order-button-created:hover {
  background: ##fcb941;
  border-color: ##fcb941;
  color: white !important;
}

.btn-product.btn-cart:hover span {
  color: white;
}

#django-messeges {
  color: red;
  font-size: 15px;
} 

#logout-button {
  background: none;
  border: none;
  color: black;
}

#logout-button:hover {
  color: ##fcb941;
}

#id_catagory {
  height: 40px;
  padding: .85rem 2rem;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
  color: #777;
  background-color: #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 0;
  margin-bottom: 2rem;
  transition: all 0.3s;
  box-shadow: none;
}

#single-rpduct-shop {
  box-shadow: 0px 0px 10px 2px #dff0ff;
  margin-inline: 0px;
}

#single-rpduct-shop-recomded {
  
}


.col-6.col-md-4.col-lg-4.col-xl-3 {
  margin-inline: 5px;
}

.ratings-text {
  color: #646464 !important;
}


/* Inline #9 | http://127.0.0.1:8000/my-account-dashboard/ */

.order-list-ul {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.order-list-li small {
  color: green;
  text-align: center;
}

.order-cancle-button {
  background: red;
  color: white !important;
  border-radius: 5px;
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.order-list-li a {
  font-size: px;
  font-weight: bold;
}


#delever-note {
  color: green;
  text-shadow: 0px 0px 1px green;
}


.cart-checkout-button {
  background: #39f;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 7px;
}

.reveaw-button {
  color: white !important;
  border-radius: 5px;
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: #39f;
}

.prvacy-page-box {
  margin-top: 20px;
  margin-bottom: 20px;
}
.privacy-policy-intro h2 {
  color: #39f;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
.privacy-policy-intro p {
  margin-left: 80px;
  margin-right: 80px;
}
.privacy-policy-intro {
  margin-bottom: 30px;
}
.privacy-hader h1 {
  text-decoration: underline;
  text-shadow: 0px 0px 3px black;
  margin-bottom: 30px;
  font-weight: bold;
}

.privacy-content-box {
  margin-bottom: 30px;
}
.privacy-content-box h3 {
  font-weight: bold;
}

/* Inline #9 | http://127.0.0.1:8000/privacy-policy/ */

.privacy-info-list-ul {
  margin-left: 50px;
}

.privacy-info-list-li {
  list-style: decimal;
  color: black !important;
  font-size: 17px;
}
#reset-form label{
  color: #666;
  font-weight: 300;
  font-size: 1.4rem;
  margin: 0 0 1.1rem;
}
#reset-form input{
  height: 40px;
  padding: .85rem 2rem;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
  color: #777;
  background-color: #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 0;
  margin-bottom: 2rem;
  transition: all 0.3s;
  box-shadow: none;
}
.Check-eamil-text {
  margin: 50px;
  margin-bottom: 300px;
  text-align: center;
  color: green;
}



.member.member-anim.text-center img {
  max-height: 600px;
}

.widget.widget-about img {
  max-height: 80px;
}


#cashradio {
  font-size: 20px;
  height: 15px;
  width: 16px;
  margin-right: 5px;
}

@media only screen and (max-width: 400px) {
  .intro-slide {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 200px; /* Adjust height for smaller screens */
  }
}

.col-6.col-md-4.col-lg-3.col-xl-3 {
  min-height: 400px; /* Adjust based on your design */
}

.product-body {
  min-height: 150px; /* Adjust based on your design */
}

.footer-text-contant {
  /* font-size: 50px !important; */!i;!;
  padding: 70px;
}

.footer-text-contant h2 {
  font-size: small;
}

.footer-text-contant p {
  font-size: small;
}