{% load static %}
<div class="container">
    <div class="cta cta-border cta-border-image mb-5 mb-lg-7" style="background-image: url({% static 'assets/images/demos/demo-3/bg-1.jpg' %});">
        <div class="cta-border-wrapper bg-white">
            <div class="row justify-content-center">
                <div class="col-md-11 col-xl-11">
                    <div class="cta-content">
                        <div class="cta-heading">
                            <h3 class="cta-title text-right"><span class="text-primary">Need</span> <br>Wholesale?</h3><!-- End .cta-title -->
                        </div><!-- End .cta-heading -->
                        
                        <div class="cta-text">
                            <p>Looking for <span class="text-dark font-weight-normal">wholesale</span> products? <br> Get in touch with us today to explore our wholesale options.</p>
                        </div><!-- End .cta-text -->
                        <a href="tel:01780095558" class="btn btn-primary btn-round"><span>Contact Us</span><i class="icon-long-arrow-right"></i></a>
                    </div><!-- End .cta-content -->
                </div><!-- End .col-xl-7 -->
            </div><!-- End .row -->
        </div><!-- End .bg-white -->
    </div><!-- End .cta -->
</div><!-- End .container -->