{% load custom_tag %}
{% load mathfilters %}
<div class="container for-you">
    <div class="heading heading-flex mb-3">
        <div class="heading-left">
            <h2 class="title">Recommendation For You</h2><!-- End .title -->
        </div><!-- End .heading-left -->

       <div class="heading-right">
            <a href="{% url 'shop' %}" class="title-link">View All Recommendation <i class="icon-long-arrow-right"></i></a>
       </div><!-- End .heading-right -->
    </div><!-- End .heading -->

    <div class="products">
        <div class="row justify-content-center">

            {% for item in recomdation %}
            {% with product=item.product %}
            <div class="col-6 col-md-4 col-lg-3" >

                <div class="product product-2">
                    <figure class="product-media">
                        {% if product.WasPrice %}
                        <span class="product-label label-sale">
                        {{product.WasPrice|persentis:product.price}}% off</span>
                        {% endif %}
                        <a href="{% url 'product' product.slug %}">
                            {% with main_image=product.productimage_set.first %}
                            {% if main_image %}
                            <img class="lazy" data-src="{{ main_image.image.url }}" alt="{{ product.taitle }}">
                            {% endif %}
                            {% endwith %}
                        </a>

                        <div class="product-action-vertical">
                            <a href="{% url 'add_wishlist' product.slug %}" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                        </div><!-- End .product-action -->

                        <div class="product-action">
                            <a href="{% url 'add_cart' product.slug %}" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="shop/?q={{product.catagory}}">{{product.catagory}}</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="{% url 'product' product.slug %}">{{product.taitle}}</a></h3><!-- End .product-title -->
                        <div class="product-price">
                            <span class="new-price">৳{{product.price}} Tk</span>
                            {% if product.WasPrice %}
                            <span class="old-price" style="text-decoration: line-through;">৳{{product.WasPrice}} Tk</span>
                            {% endif %}
                        </div><!-- End .product-price -->
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: {{ item.average_rating|mul:20 }}%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">({{ item.total_reviews }} Reviews)</span>
                        </div><!-- End .ratings-container -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->

            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
            {% endwith %}
            {% endfor %}
        </div><!-- End .row -->
    </div><!-- End .products -->
</div><!-- End .container -->