{% extends 'main.html' %}

{% block content %}

<div class="container">
	<div class="form-box">
		<h5>Do you have forogt your password? Enter you account eamil adddress. We will sent you a password reset link on email.</h5>
		<div id="reset-form">
			<form method="POST">

				{% csrf_token %}

				{{form.as_p}}

				<button type="submit" class="btn btn-outline-primary-2">
					<span>Submit</span>
					<!-- <i class="icon-long-arrow-right"></i> -->
				</button>

			</form>
		</div>
	</div>
</div>

{% endblock %}